* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Contenedor principal */
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/* Zona de la izquierda */
.left-side {
  background-color: lightgray;
  width: 20%;
  padding: 20px;
}

/* Formulario central */
.center-side {
  background-color: #f1f1f1;
  width: 50%;
  padding: 20px;
}

/* Zona de la derecha */
.right-side {
  background-color: lightgray;
  width: 30%;
  padding: 20px;
}

/* Estilos para el botón */
button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.badge {
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;

}

/* es un span con fondo celeste claro, redondeado elegante */
.argument-badge {
  background-color: #4956cf;
}

.prompt-badge {
  background-color: #868bc0;
}

/* es un input con fondo gris claro, redondeado elegante */
.input-prompt {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
}

.template-item-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #f1f1f1;
}

.template-item-list:hover {
  background-color: #f1f1f1;
}

.play-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.center-side-readonly {
  display: none;
  background-color: #f1f1f1;
  width: 50%;
  padding: 20px;
}

.readonlyprompt {
  margin: 20px;
}
